html, body {
	position: absolute;
	left: 0;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

}

#photoWrapper {
	position: absolute;

	width: 100%;
	height: 100%;

	overflow: hidden;

	i, s {
		display: none;
	}

	canvas {
		position: absolute;
		left: 0;
	}
}


.progress-bar {
	position: absolute;

	width: 100%;
	height: 100%;
	z-index: 2;

	background: #ccc;

	transition: opacity 0.8s ease-in;
	will-change: opacity;

	.progresser {
		// opacity: 0.4;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		border: 10px solid #fff;
		box-sizing: border-box;

		transform: scale(0);

		transition: transform 0.5s cubic-bezier(0.42, 0, 0.29, 0.98);

		will-change: scale;
		background: #000;

	}
	&.hide {
		opacity: 0;
		pointer-events: none;
	}

}
